h2{
    color: orangered;
}

h3{
    color: green;
}

body{margin:0!important}

#app{
    margin-top: 100%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0%;
    bottom: 30px;
    font-size: 13px;
}

a#reload {
    font-size: 14px;
    font-weight: 500;
    color: blue;
}
#snackbar.show {
    -webkit-animation: fadein 5s;
    animation: fadein 5s;
}

@-webkit-keyframes fadein {
    0%, 100% {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadein {
    0%, 100% {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }
}